# build output
dist/
# generated types
.astro/
# Tina's generated admin app + local cache
public/admin/
tina/__generated__/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# Vercel CLI project link
.vercel/
.vercel
.env*
