---
import WhatsAppCTA from "./WhatsAppCTA.astro";
import CallCTA from "./CallCTA.astro";
---

<div
  class="fixed bottom-0 left-1/2 z-50 w-full max-w-[480px] -translate-x-1/2 px-4 pb-[18px] pt-3 md:hidden"
  style="background:linear-gradient(180deg, rgba(244,234,225,0) 0%, #F4EAE1 30%);"
>
  <div class="flex gap-2.5">
    <WhatsAppCTA size="lg" full class="text-[15.5px]">Book on WhatsApp</WhatsAppCTA>
    <CallCTA size="lg" class="w-[100px] text-[15.5px]">Call</CallCTA>
  </div>
</div>
